* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#map-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

#map-popup {
  width: 800px;
  min-height: 200px;
  max-width: 80%;
  background-color: white;
  padding: 16px;
  padding-bottom: 32px;
}